.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #0f172a;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #38bdf8;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center; /* 🔥 important */
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: relative;
}

.nav-links a:hover {
  color: #38bdf8;
}

.cart-link {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -12px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 7px;
}

.user-name {
  font-size: 14px;
  color: #94a3b8;
}

.logout-btn {
  background: #38bdf8;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background: #0ea5e9;
}


@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}